body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollning och sektionsmarginal */
.section-element {
  scroll-margin-top: 80px; /* Margin för när vi scrollar till sektionen */
}

html {
  scroll-behavior: smooth; /* Global smooth-scroll för bättre upplevelse */
}
